#footer{
    background-size: cover;
    background-position: center center;
    position: relative;
    .img-footer-earth{
        img{
            width: 100%;
            position: absolute;
        }
    }
    .container{
        padding-top: 63px;
        .img-footer{
            .row{
                .footer-wrap{
                    .widget-footer{
                        position: relative;
                        .short-desc{
                            .logo-footer{
                                img{
                                    width: 300px;
                                }
                                p{
                                    color: aliceblue;
                                }
                                p{
                                    color: aliceblue;
                                }
                            }
                        }
                    }
                    .widget-footer{
                        .recent-post{
                            .title{
                                color: aliceblue;
                            }
                            .footer-content{
                                .post-item{
                                    padding: 0px 0px 15px;
                                    a{
                                        .post-thumb{
                                            float: left;
                                            margin-right: 15px;
                                            position: relative;
                                            img{
                                                width: 100px;
                                            }

                                        }
                                    }
                                    .post-content{
                                        overflow: hidden;
                                        box-sizing: unset;
                                        a{
                                            text-decoration: none !important;
                                            h4{
                                                color: aliceblue;
                                                font-size: 16px;
                                            }
                                        }
                                        p{
                                            color: aliceblue;
                                            font-size: 14px;
                                            margin: 0px 0px 10px;
                                        }
                                        .meta{
                                            .date{
                                                color: aliceblue;
                                            }
                                        }
                                    }
                                }
                                .post-item{
                                    padding: 15px 0px;
                                    a{
                                        .post-thumb{
                                            float: left;
                                            margin-right: 15px;
                                            position: relative;
                                            img{
                                                width: 100px;
                                            }    
                                        }
                                    }
                                    .post-content{
                                        overflow: hidden;
                                        box-sizing: unset;
                                        a{
                                            text-decoration: none !important;
                                            h4{
                                                font-size: 16px;
                                                color: aliceblue;
                                                font-weight: 800;
                                            }
                                        }
                                        p{
                                            color: aliceblue;
                                            font-size: 14px;
                                            margin: 0px 0px 10px;
                                        }
                                        .meta{
                                            .date{
                                                color: aliceblue;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .copyright{
        background-color: rgba(1, 47, 84, 0.8);
        position: absolute;
        width: 100%;
        padding: 60px 0;
        .container{
            .social-icon{
                text-align: center;
                ul{
                    padding: 0;
                    margin-bottom: 30px;
                    li{
                        display: inline-block;
                        margin: 0 20px;
                        a{
                            color: #ffffff;
                            font-size: 24px;
                            .fa-brands{
                                display: inline-block;
                                font-size: inherit;
                                text-rendering: auto;
                            }
                        }
                    }
                }
            }
            p{
                color: #ffffff;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.1em;
            }
        }
    }
}