.group-header{
    position: absolute;
    z-index: 1000;

    display: grid;
    justify-content: center;
    align-items: end;
    min-height: 200px;
    min-width: 100%;
    max-width: 100%;
    .group-header-one{
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1170px;
        padding: 30px 15px;
        margin-top: 40px;
        .group-logo{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
//            .img-logo{
//                img{}
//            }
            div{
                img{
                    border: 5px solid #0B60A9;
                    border-radius: 9px;
                }
                a{
                    color: #000000;
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        } 
    }
    .navbar{
        width: 1170px;
        background-color: #0B60A9 !important;
        .container-fluid{
//            button{}
            .collapse{
                .navbar-nav{
                    .nav-item{
                        .nav-link{
                            color: aliceblue;
                        }
                        .dropdown-menu{
                            background-color: #0B60A9;
                            li{
                                a{
                                    color: aliceblue;
                                }
                            }
                        }
                    }
                }
                .d-flex{
//                    .form-control{}
                    .btn{
                        color: aliceblue;
                        border: none;
                    }
                }
                .navbar-brand{
                    color: aliceblue;
                }
            }
        }
    }
}
#carouselExampleInterval{
    .carousel-inner{
        .carousel-item{
//            img{}
            .caption-wrap{
                display: flex;
                flex-direction: column;
                min-height: 200px;
                min-width: 100%;
                max-width: 100%;
            
                gap: 10px;

                position: absolute;
                top: 45%;
                padding: 30px 168px;
                .caption{
                    h1{
                        font-size: 40px;
                        font-weight: 800;
                        text-decoration: underline;
                        color: aliceblue;
                    }
                }
                .caption{
                    p{
                        width: 50%;
                        color: aliceblue;
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
                .caption{
                    a{
                        background-color: #0B60A9;
                        color: aliceblue;
                        font-size: 15px;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                        padding: 10px 30px;
                        margin-top: 20px;
                        display: inline-block;
                    }
                }
            }
        }
    }
//    .carousel-control-prev{
//        .carousel-control-prev-icon{}
//        .visually-hidden{}
//    }
//    .carousel-control-next{
//        .carousel-control-next-icon{}
//        .visually-hidden{}
//    }
}



.group-two{
    
    .group-header-two{
        display: flex;
        align-items: center;
        flex-direction: column;
        .row{
            .email-quote{
                background-color: #0B60A9;
                position: relative;
                top: -50px;
                gap: 10px;
                display: flex;
                z-index: 500;
                padding: 30px 60px;
                margin-bottom: 40px;
                h4{
                    color: aliceblue;
                }
                form{
                    overflow: hidden;
                    display: flex;
                    .col-md-6{
                        width: 50%;
                        height: 40px;
                        padding: 0 15px;
                        border: none;
                    }
                    .category_filter{
                        float: left;
                        display: flex;
                        select{
                            width: 340px !important;
                            height: 40px;
                            border: none;
                            padding: 0 10px;
                            cursor: pointer;
                            position: relative;
                            display: inline;
                            width: 62%;
                            float: left;
                            //option{}
                        }
                        .button-normal{
                            width: 200px;
                            background-color: #08487e;
                            color: aliceblue;
                            border: none;
                            height: 40px;
                            padding: 0 20px;
                            font-size: 15px;
                            font-weight: 700;
                            text-transform: uppercase;
                            letter-spacing: 0.1em;
                            margin-left: 15px;
                            //span{}
                        }
                    }
                }
            }
        }
        .img-bodega{
            position: absolute;
            display: flex;
            justify-content: center;
            
            .text-title{
                position: absolute;
                color: aliceblue;
                padding-top: 11rem;
                h2{
                    text-decoration: underline;
                    font-weight: 500;
                }
            }
            img{
                width: 100%;
            }
        }
        #carouselExample{
            .carousel-inner{
                .carousel-item{
                    padding-top: 10rem;
                    .row{
                        padding: 15px;
                        .col-sm-6{
                            .card{
                                img{
                                    width: 100%;
                                }
                                .card-img-overlay{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    .card-title{
                                        text-decoration: underline;
                                    }
                                    .card-text{
                                        text-align: center;
                                        padding: 4px;
                                    }
                                    a{
                                        background-color: #0B60A9;
                                        color: aliceblue;
                                        font-size: 15px;
                                        font-weight: 700;
                                        text-transform: uppercase;
                                        letter-spacing: 0.1em;
                                        padding: 10px 30px;
                                        margin-top: 20px;
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .carousel-control-prev{
                padding-top: 12rem;
                //.carousel-control-prev-icon{}
                //.visually-hidden{}
            }
            .carousel-control-next{
                padding-top: 12rem;
                //.carousel-control-next-icon{}
                //.visually-hidden{}
            }
        }
    }
}
