.all-main{
        display: flex;
        background-color: azure;
        width: 100%;
        padding: 260px 0 60px 0;
        justify-content: center;    .group-main{
        width: 1170px;
        .title-main{
            h4{
                font-size: 2rem;
                font-weight: 800;
                text-decoration: underline;
                text-align: center;
                margin-bottom: 80px;
            }
        }
        .choose{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 10px;
            .card{
                background-color: rgb(210, 210, 210);
                border: none;
                .row{
                    display: flex;
                    align-items: center;
                    .col-md-4{
                        img{
                            width: 100%;
                        }
                    }
                    .col-md-8{
                        .card-body{
                            .card-title{
                                font-size: 18px;
                                font-weight: 900;
                            }
                            .card-text{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }   
}
.services-calculator{
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 100px 0 151px 0;
    img{
        position:absolute;
    }
    .container{
        .row{
            display: flex;
            flex-wrap: nowrap;           
            .services-calculator-wrap{
                padding-top: 100px;
                z-index: 1000;
                gap: 50px;
                display: flex;
                min-height: 200px;
                min-width: 100%;
                max-width: 100%;
                .intro-section{
                    padding: 20px;
                    h3{
                        font-size: 24px;
                        font-weight: 900;
                        color: aliceblue;
                    }
                    p{
                        font-size: 16px;
                        color: aliceblue;
                    }
                }
                .form-section{
                    width: 0;
                    #calculationform{
                        width: 560px;
                        height: 643px;
                        background-color: #0B60A9;
                        padding: 65px;
                        .mb-3{
                            label{
                                color: aliceblue;
                            }
                            input{
                                color: aliceblue;
                            }
                            div{
                                color: aliceblue;
                            }
                        }
                        .check{
                            display: flex;
                            justify-content: space-around;
                            .extra-services{
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                .form-check{
                                    h5{
                                        font-size: 15px;
                                        font-weight: bold;
                                        color: aliceblue;
                                    }
                                    .form-check-input{
                                        color: aliceblue;
                                    }
                                    .form-check-label{
                                        font-size: 13px;
                                        color: aliceblue;
                                    }    
                                }
                            }
                            .fragil{
                                .form-check{
                                    h5{
                                        font-weight: bold;
                                        font-size: 15px;
                                        color: aliceblue;
                                    }
                                    .form-check-input{
                                        color: aliceblue;
                                    }
                                    .form-check-label{
                                        font-size: 13px;
                                        color: aliceblue;
                                    }    
                                }
                            }
                        }
                        #totalPrice{
                            display: block;
                            background-color: #08487e;
                            padding: 10px 15px;
                            margin-top: 30px;
                            color: #ffffff;
                            font-size: 18px;
                            text-transform: uppercase;
                        }
                    }
                       
                }
            }

        }    
    }

}
